  hr{
    border-style: none;
    border-style: dotted none none;
    border-color: green;
    width: 100px;
    border-width: 5px;
  }
.div1{
background-color: white;


}
.div2{
background-color: white;
height: 350px;


}
body{
  background-color: powderblue;
}
img{
height:100px;
width:100px;
}
img:hover{
  background-color: gold;
}
.bird{
  background-color:orange;
height:150px;
width:150px;
}

.heart{
  background-color: gold;
  height:100px;
  width: 100px;

}
.circular{
  border-radius: 100%;
}
.cloud1{
margin-right: 400px;

}
.cloud2{
  margin-left: 100px;
}
p{
  display: inline ;
}
.rainbow{
  height: 150px;
  width: 150px;
}
.moon{
  height:75px;
  width: 75px;
}
.sun{
}
.press{
  height: 50px;
  width: 50px;
}
